.footer {
  width: 100%;
  background-color: #ffefcf;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 15px;
  font-weight: 600;
  color: #555555;
}
