/* 좋아하는 것 가로 스크롤 영역 */
#likes {
  padding: 2rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.likes__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #111111;
}

/* 가로 스크롤 */
.likes__scroll-container {
  width: 100%;
  max-width: 100%;
  height: 170px;
  position: relative;
  overflow-x: auto;
  /* 스크롤 스냅 */
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.likes__scroll-container::-webkit-scrollbar {
  display: none;
}

.likes__scroll-wrapper {
  display: flex;
  width: max-content;
  gap: 16px;
  padding: 10px;
}

.likes__item {
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  scroll-snap-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.25s ease;
  background-color: #fff;
}

.likes__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 3px rgba(87, 87, 87, 0.1);
}

.likes__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 200 / 150;
}

/* 무한 루프 배너 */
.likes__banner-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  display: flex;
}

.likes__banner-wrapper {
  display: flex;
  width: max-content;
  gap: 16px;
  padding-right: 16px;
  animation: infinite-rolling 5s linear infinite;
  will-change: transform;
  transform: translateZ(0);
}

.likes__banner-wrapper:hover {
  animation-play-state: paused;
}

/* 애니메이션 정의 */
@keyframes infinite-rolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.likes__banner-container .likes__item {
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
}
